@use './partials/variabili' as*;

@import 'bootstrap/scss/bootstrap';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/700.css';


body{
  font-family: $main-font;
  color: $primary-text-color;
  min-height: 100vh;
  background-image: linear-gradient(
    lighten($primary-color, 20%),
    lighten($primary-color, 60%)
  );
}

h1,h2,h3,h4,h5,h6{
  color: $primary-text-color;
  font-weight: 700;

}